body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #262626;
  position: fixed;
  overflow: hidden;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.wrapper {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1C1C1C;
  height: 2.687rem;
  border-bottom: 0.0625rem solid #474747;
}

.header-btn {
  /*background-color: #000000;*/
  color: #FFFFFF;
  font-size: 9pt;
  font-weight: bold;
  border: 0.0625rem solid #2D2D2D;
  height: 1.6875rem;
  width: 3.5rem;
  margin-left: 0.5rem;

  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;

  background-color: #2D2D2D; background-image: -webkit-gradient(linear, left top, left bottom, from(#2D2D2D), to(#0e0e0e));
  background-image: -webkit-linear-gradient(top, #2D2D2D, #000000);
  background-image: -moz-linear-gradient(top, #2D2D2D, #000000);
  background-image: -ms-linear-gradient(top, #2D2D2D, #000000);
  background-image: -o-linear-gradient(top, #2D2D2D, #000000);
  background-image: linear-gradient(to bottom, #2D2D2D, #000000);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2D2D2D, endColorstr=#000000);
}

.header-btn-txt {
  margin-top: -0.25rem;
}

.header h4 {
  font-weight: bold;
  align-self: center;
}

.header img {
  object-fit: contain;
  object-position: center right;
  width: 1.6rem;
  margin-right: 0.9375rem;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 1.4rem;
  margin-bottom: 1rem;
}

.main div.primary-image-container {
  display: flex;
  justify-content: center;
  border: 0.1875rem solid #FFFFFF;
  object-fit: scale-down;
  margin: auto;
}

.main .primary-image-container img {
  width: 100%;
}

.main .address-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.0rem;
  margin-bottom: 1.4rem;
  line-height: 1.4;
}

.main .address {
  font-size: .9rem;
  font-weight: 500;
}

.main .address.address-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.main .address.address-text {
  color: #b6dffc;
}

.main .address.phone-number {
  color: white;
}

.main .nav-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

button.nav-btn {
  display: flex;
  flex-direction: column;
  height: 43px;
  border-radius: none;
  color: #000000;
  font-weight:bold;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
  border:1px solid #b6c7cc;
  background-color: #f2f5f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#a9c0c8));
  background-image: -webkit-linear-gradient(top, #f2f5f6, #a9c0c8);
  background-image: -moz-linear-gradient(top, #f2f5f6, #a9c0c8);
  background-image: -ms-linear-gradient(top, #f2f5f6, #a9c0c8);
  background-image: -o-linear-gradient(top, #f2f5f6, #a9c0c8);
  background-image: linear-gradient(to bottom, #f2f5f6, #a9c0c8);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#a9c0c8);
}

button.nav-btn.top {
  -webkit-border-radius: 0.35rem 0.35rem 0 0;
  -moz-border-radius: 0.35rem 0.35rem 0 0;
  border-radius: 0.35rem 0.35rem 0 0;
  border-top: none;
}

button.nav-btn.bottom {
  -webkit-border-radius: 0 0 0.35rem 0.35rem;
  -moz-border-radius: 0 0 0.35rem 0.35rem;
  border-radius: 0 0 0.35rem 0.35rem;
  border-top: none;
}

.nav-btn.nav-btn-txt {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin-top: 0.3125rem;
}

span.nav-btn.spacer {
  border-top: 0.0625rem solid #CBCBCB;
  border-bottom: 0.0625rem solid #EEEEEE;
}

.footer {
  height: 0px;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas#CSS */

/*#hilton-chicago-page {}*/
/*.nav-buttons-container {}*/
